# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log

# Environment variables
.env

# Cypress test results
cypress/screenshots/
cypress/videos/

# Logs
logs/
*.log

# IDE files
.vscode/
.idea/

# Build artifacts
dist/
build/

# Misc
.DS_Store
Thumbs.db